// Mixins IS & Variables
@mixin headings {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        @content;
    }
}
@mixin foundation_inputs {
    [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
        @content;
    }
}
@mixin loadfont($file, $name: $file, $w: normal, $s: normal) {
    // exemple : @include loadfont(comicsansms-webfont, ComicSans);
    @font-face {
        font-family: $name;
        //src: url('../fonts/' + $file + '.woff2') format('woff2'),
        src: url('../fonts/' + $file + '.woff') format('woff'),
        url('../fonts/' + $file + '.ttf') format('truetype');
        font-weight: $w;
        font-style: $s;
    }
}
@mixin pseudoBasics(){
    display: block;
    position: absolute;
    content: '';
}
@mixin anim($elt: all, $speed: 0.3s, $delay: 0s, $ease: ease-out){
    transition: $elt $speed $delay $ease;
}
@mixin keyprefix($name){
    @-webkit-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
// Gradients - @include gradient();  $start : top, bottom, left, right, -45deg ...
@mixin gradient($c1: $color1, $c2: $color2, $start: top, $type: 0){
    $end : bottom;
    @if 		$start == top 	{ $end: bottom; $type: 0 }
    @else if $start == left 	{ $end: right; $type: 1 }
    @else if $start == -45deg 	{ $end: 135deg; 	$type : 1 } // A améliorer avec un calcul +180

    background: $c1;
    background: -moz-linear-gradient($start,  $c1 0%, $c2 100%);
    background: -webkit-linear-gradient($start,  $c1 0%,$c2 100%);
    background: linear-gradient(to $end,  $c1 0%,$c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$c1', endColorstr='$c2',GradientType=$type );
}
//@mixin themes($slug, $color) {}
$themes : (
    ('nutrition', get-color('secondary')),
    ('lifestyle', get-color('secondary'))
);
@mixin liste_themes () {
    @each $i in $themes {
        .#{nth($i, 1)} {
            .themecolor {
                color: #{nth($i, 2)};
            }
        }
    }
}

// Mixins Valrhona Reborn
$header-height-mobile : rem-calc(78);
$mobile-menu-padding: rem-calc(30) 10vw rem-calc(15);
$script_font: 'Belluga', $body-font-family;
$layout-bezier: cubic-bezier(0.79, 0, 0.21, 0.99);
@mixin dash(){
    position: relative;
    padding-bottom: rem-calc($global-padding + rem-calc(4));
    &::after {
        @include pseudoBasics;
        @include anim;
        @include horizontal-center;
        top: 100%;
        margin-top: rem-calc(-4);
        height: rem-calc(4);
        width: rem-calc(50);
        background-color: $body-font-color;
    }
    @if is-superselector('a', &) {
        display: inline-block;
        &::after {
            background-color: get-color(primary);
        }
    }
}
@mixin corner($x: right, $y: top, $direction: vertical) {
    position: relative;
    overflow: visible;
    $size: rem-calc(20);
    &::before {
        @include pseudoBasics;
        z-index: -1;
        background: get-color(primary);
        @if($direction == 'vertical')  {
            height: 100%;
            width: $size*2;
            @include breakpoint(medium down){
                width: $size;
            }
        } @else {
            width: 100%;
            height: $size*2;
            @include breakpoint(medium down){
                height: $size;
            }
        }
        $offsetx: 0;
        $offsety: 0;
        @if($x == 'left')  { $offsetx: -$size; left: 0; }
        @if($x == 'right')  { $offsetx: $size; right: 0; }
        @if($y == 'top')  { $offsety: -$size; top: 0; }
        @if($y == 'bottom')  { $offsety: $size; bottom: 0; }

        transform: translate3d($offsetx, $offsety, 0);
        @include breakpoint(medium down){
            transform: translate3d($offsetx/2, $offsety/2, 0);
        }
    }
}
@mixin sectionPadding(){
    padding: $global-padding*4 0;
    @include breakpoint(medium down){
        padding: $global-padding*2 0;
    }
}

@mixin fetchHeadings($level) {
    font-size: rem-calc(map-deep-get($header-styles, large, $level, 'font-size'));

    @include breakpoint(medium only) {
        font-size: rem-calc(map-deep-get($header-styles, medium, $level, 'font-size'));
    }

    @include breakpoint(small only) {
        font-size: rem-calc(map-deep-get($header-styles, small, $level, 'font-size'));
    }
}
@mixin slick_dots_dashes(){
    .slick-dots {
        z-index: 22;
        bottom: auto;
        top: calc(100% - 40px);

        li {
            width: rem-calc(28);
            height: rem-calc(4);
            margin: rem-calc(8);
            background: $medium-gray;

            &.slick-active {
                background: $black;
            }
            button::before {
                display: none;
            }
        }
    }
}
