@import 'settings';
@import 'mixins_is';
@import '~foundation-sites/scss/foundation';
@include loadfont(Montserrat-Regular, 'Montserrat', 400);
@include loadfont(Montserrat-SemiBold, 'Montserrat', 600);
@include loadfont(BellugaSolid, 'Belluga', 400);
@include foundation-everything();


* {
  //outline-color: get-color(secondary);
  outline: none;
}

html, body {
  overflow-x: hidden;
  @include breakpoint(medium down){
    font-size: rem-calc(12);
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: rem-calc(1920);
  margin: 0 auto;
  header, main, footer {
    transition: opacity 0.3s ease-out;
    opacity: 1;
  }
  &.no-js {
    header, main, footer {
      opacity: 0;
    }
  }
  @include breakpoint(medium down){
    .grid-container {
      overflow-y: visible;
    }
  }
}

main {
  flex-grow: 1;
}

section {
  @include sectionPadding;
}
.breadcrumbs {
  li, > div {
    letter-spacing: rem-calc(1);
    a {
      color: $breadcrumbs-item-color;
    }
    &:last-child {
      font-weight: $global-weight-bold;
    }
  }
}
.h_small {
  display: block;
  font-size: $label-font-size;
  padding-bottom: $global-padding/2;
  color: get-color(primary);
  text-transform: uppercase;
  letter-spacing: rem-calc(1);
  line-height: 1.1;
  font-weight: bold;
}
@include headings(){
  a {
    transition: color 0.45s ease-in-out;
    color: $body-font-color;
  }
  span {
    font-family: $script_font;
    font-weight: $global-weight-normal;
    //margin-top: -0.5em;
  }
  small {
    @extend .h_small;
  }
}
.small_highlight {
  font-size: rem-calc(10);
  line-height: rem-calc(13);
  letter-spacing: rem-calc(1);
  text-transform: uppercase;
}
.bloc_img {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  > img, > video {
    object-fit: cover;
    @include anim();
    @include absolute-center;
    width: 100%;
    height: 100%;
    max-width: none;
    transform-origin: center;
    display: block;
  }
  &.darkened {
    background: $black;
    > img, > video {
      opacity: 0.6;
      z-index: 0;
    }
    > *:not(:first-child) {
      position: relative;
      z-index: 1;
      color: $white;
      .button {
        color: $body-font-color !important;
        border-color: $white;
        &::after {
          background: $white;
        }
        &:hover {
          color: $white !important;
        }
      }
      .dash::after, &.dash::after{
        background: $white;
      }

    }
  }
  @at-root #{selector-unify('section', &)}{
    padding: $global-padding*4 0;
  }
  @at-root a:hover & {
    img {
      transform: translate3d(-50%, -50%, 0) scale(1.1);
    }
  }
}
.banner {
  padding: 0 !important;
  &.lightly.darkened {
    > img, > video {
      opacity: 0.8 !important;
    }
  }
  > .grid-container {
    width: 100%;
  }
  .grid-x {
    height: 100vh;
    min-height: rem-calc(600);
    padding-top: $header-height-mobile;
  }
  h1 {
    font-size: rem-calc(50);
    line-height: 1.1;
    span {
      display: block;
      font-size: rem-calc(100);
      line-height: 1;
      margin: 0;
    }
    @include breakpoint(medium down){
      font-size: rem-calc(40);
      line-height: 1.2;
      span {
        word-break: break-all;
        font-size: rem-calc(60);
        line-height: 1;
        margin: rem-calc(10 0 -10);
      }
    }
  }
  @include breakpoint(large){
    .grid-x {
      padding-top: rem-calc(140);
    }
    &.half {
      .grid-x {
        height: 40vh;
        min-height: rem-calc(420);
      }
    }
  }
}
.product_picture {
  background: $white;
  .list_labels {
    position: absolute;
    z-index: 5;
    top: $global-margin/2;
    left: $global-margin/2;
    right: $global-margin/2;
    .label {
      position: relative;
      margin: $global-margin/2 0 0 $global-padding/2;
      background: $white;
      white-space: normal;
    }
  }
  span.info {
    display: block;
    position: absolute;
    bottom: $global-padding/2;
    right: $global-padding/2;
    width: rem-calc(20);
    height: rem-calc(20);
    border-radius: 100%;
    outline: none;
    img {
      display: block;
    }
  }
  .new-tag {
    z-index: 6;
    display: block;
    position: absolute;
    top: rem-calc(25);
    right: rem-calc(25);
    width: rem-calc(100);
    height: rem-calc(100);
    padding: rem-calc(63 15 15);
    border: rem-calc(2) solid get-color(secondary);
    border-radius: 100%;
    overflow: hidden;
    background: $white url(../images/logo_new_label.svg) no-repeat top rem-calc(18) center;
    background-size: rem-calc(66 37);
    text-align: center;
    font-weight: bold;
    font-size: rem-calc(12);
    line-height: rem-calc(15);
    letter-spacing: rem-calc(2);
    @include breakpoint(medium down){
      transform-origin: top right;
      transform: scale(0.66);
    }
    &.smaller {
      top: rem-calc(15);
      right: rem-calc(15);
      transform-origin: top right;
      transform: scale(0.5);
      @include breakpoint(medium down){
        top: rem-calc(10);
        right: rem-calc(10);
        transform: scale(0.4);
      }
    }
  }
}
[data-lettrine], [data-lettrine-right] {
  position: relative;
  display: block;
  width: 100%;
  overflow: visible;
  z-index: -1;
  user-select: none;
  &::before {
    position: absolute;
    top: -35%;
    left: -0.7em;
    display: block;
    content: attr(data-lettrine);
    font-family: $script_font;;
    font-size: rem-calc(500);
    line-height: 0.5;
    user-select: none;
    color: $light-gray;
    text-transform: uppercase;
  }
  &[data-lettrine-right]::before {
    content: attr(data-lettrine-right);
    left: auto;
    right: 0; //-0.7em;
  }
  @include breakpoint(medium down){
    display: none !important;
  }
}
.vertical-h-wrapper {
  @include breakpoint(large){
    position: relative;
    @include headings(){
      position: absolute;
      height: 0;
      user-select: none;
      line-height: 1em;
      margin: 0;
      transform-origin: bottom left;
      transform: rotate(-90deg);
      overflow: visible;
      left: 50%;
      bottom: 0;
      width: 80vh;
      z-index: -1;
      word-break: break-word;
      font-size: rem-calc(70);
    }
  }
  @include breakpoint(medium down){
    > * {
      @include dash;
      text-align: center;
    }
  }
}
.button {
  z-index: 1;
  line-height: 1.4em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: rem-calc(1);
  overflow: hidden;
  border-bottom-width: 3px !important;
  transition: all 0.6s $layout-bezier;
  svg {
    display: inline-block;
    margin-right: rem-calc(20);
    vertical-align: bottom;
    path {
      fill: $black;
      @include anim();
    }
    &.left-svg {
      margin-right: rem-calc(20);
      margin-left: rem-calc(10);
    }
    &.right-svg {
      margin-left: rem-calc(10);
      margin-right: 0;
    }
  }
  @include breakpoint(medium down){
    word-break: break-word;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: $global-margin/2;
    margin-left: $global-margin/2;
    svg {
      margin: 0 !important;
      flex-basis: $global-margin*2;
      &.right-svg:first-child:last-child {
        position: relative;
        right: 0;
        margin:0;
      }
    }
  }
  @include breakpoint(large){
    min-width: rem-calc(274);
  }
  @include breakpoint(medium only){
    max-width: calc(100%/12*6);
    margin-right: auto;
    margin-left: auto;
  }
  &::after {
    transition: all 0.8s $layout-bezier;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: -30%;
    right: 0;
    bottom: 0;
    transform: translate3d(0, 0, 0) scale(1.6) skewX(-10deg);
    padding: $button-padding;
    z-index: -1;
  }
  &:not(:hover){
    color: $white !important;
    path {
      fill:  $white !important;
    }
    &::after {
      background-color: get-color(primary);
      color: $white !important;
    }
  }
  &:hover {
    &::after {
      transform: translate3d(-100%, 0, 0);
    }
  }
  @each $colorname, $color in $button-palette {
    &.#{$colorname} {
      &::after {
        background-color: $color;
      }
      @if($colorname == 'white') {
        &:hover {
          color: $black !important;
          path {
            fill: $black !important;
          }
        }
      }
    }
  }
  &.clear {
    &::after {
      display: none !important;
    }
    &:not(.white):hover {
      color: $black !important;
      path {
        fill: $black !important;
      }
    }
  }
  &.inverted {
    background: $body-font-color !important;
    color: $body-font-color !important;
    &::after {
      background: white !important;
    }
    &:hover {
      color: white !important;
    }
  }
}
.label {
  text-transform: uppercase;
  letter-spacing: rem-calc(1);
  line-height: rem-calc(10);
  @at-root #{selector-unify(&, a)} {
    cursor: pointer;
  }
  &.hollow {
    color: $black;
    box-shadow: 0 0 0 1px inset;
    background: transparent;
    @each $colorname, $color in $label-palette {
      &.#{$colorname} {
        color: $color;
      }
    }
  }
  &.large {
    padding: rem-calc(15) !important;
    border-radius: 0;
    box-shadow: none;
  }
}

#filter_toggler {
  z-index: 10;
  position: relative;
  @include breakpoint(medium down){
    @include anim();
    transition-timing-function: ease-in-out;
    max-height: 50vh;
    a {
      @include anim();
      display: block;
      text-align: center;
      text-transform: uppercase;
      padding: $global-padding;
      font-size: rem-calc(8);
      line-height: rem-calc(18);
      letter-spacing: rem-calc(1);
      font-weight: bold;
      color: $black;
      width: 100%;
    }
    svg {
      vertical-align: bottom;
      display: inline-block;
      margin-left: $global-margin;
    }
    &.open {
      max-height: 0;
      a {
        transform: translate3d(0, rem-calc(-10), 0);
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
#filter_wrapper {
  z-index: 10;
  position: relative;
  form > .reset-all, form > .filter-toggle {
    &:not(:first-child) {
      margin-left: $global-margin;
    }
    display: block;
    float: left;
    border: 1px solid $medium-gray;
    box-shadow: none;
    margin: 0;
    border-radius: rem-calc(4);
    min-width: rem-calc(180);
    height: rem-calc(36);
    line-height: rem-calc(34);
  }
  .reset-all {
    text-transform: uppercase;
    text-align: center;
    color: $dark-gray;
    font-size: rem-calc(10);
    font-weight: bold;
    letter-spacing: rem-calc(1);
    line-height: 1 !important;
  }
  .filter-toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    &, * {
      @include anim();
    }
    > label {
      pointer-events: none;
    }
    > span, > label {
      font-size: rem-calc(10);
      line-height: rem-calc(34);
      display: block;
      position: absolute;
      padding: rem-calc(0 5);
      margin: rem-calc(0 40 0 10);
      font-weight: bold;
      letter-spacing: normal;
      user-select: none;
      color: $dark-gray;
      width: rem-calc(130);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &::after {
      @include anim();
      position: absolute;
      float: right;
      display: inline-block;
      right: 0;
      content: '';
      width: rem-calc(25);
      top: 0;
      bottom: 0;
      background: url('../images/chevron.svg') no-repeat center;
    }
    .select {
      min-width: 100%;
      display: inline-block;
      text-align: left;
      overflow: visible;
      position: absolute;
      top: 100%;
      z-index: 150;
      &::before {
        @include pseudoBasics;
        content: attr(data-selection);
        font-weight: bold;
        bottom: 100%;
        left: rem-calc(20);
        right: rem-calc(20);
        width: rem-calc(130);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      > ul {
        position: absolute;
        width: auto;
        border: none;
        top: 100%;
        margin-top: $global-margin/2;
        left: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        background: $white;
        box-shadow: $prototype-box-shadow;
        padding: rem-calc(30 20);
        transform: translate3d(0, rem-calc(-10), 0);
        &.is-open {
          opacity: 1;
          transform: none;
          pointer-events: auto;
          li:hover {
            transform: translate3d(4px, 0, 0);
          }
        }
        li a {
          display: block;
          font-weight: normal;
          color: $black;
          line-height: 1.2;
          margin: 0;
          padding: rem-calc(7 0);
          &.reset {
            color: get-color(secondary);
          }
        }
        li.disabled {
          &:hover {
            transform: none;
          }
          a {
            opacity: 0.35;
            pointer-events: none;
            cursor: not-allowed;
          }
        }
      }
      li > span {
        display: block;
        font-weight: bold;
        line-height: 1.2;
        pointer-events: none;
        cursor: default;
      }
      li ul {
        margin-left: rem-calc(5);
      }
    }
    select {
      pointer-events: none;
      position: absolute;
      visibility: hidden;
    }
    &.filled {
      border-color: $medium-gray;
      > span, > label {
        color: $medium-gray;
      }
    }
    &[aria-expanded=true], &.filled, &.filled[aria-expanded=true] {
      border-color: get-color(secondary);
      > span, > label {
        color: get-color(secondary);
        background: $white;
        transform-origin: top left;
        font-size: rem-calc(10);
        transform: translate3d(0, -50%, 0);
      }
    }
    &[aria-expanded=true]::after {
      transform: scale(1, -1);
    }
  }
  @include breakpoint(medium down){
    background: lighten(get-color(third), 10%);
    position: relative;
    @include anim();
    display: block !important;
    transition-timing-function: ease-in-out;
    max-height: 0;
    overflow: hidden;
    margin-right: -$global-margin/2;
    margin-left: -$global-margin/2;
    text-align: center;
    .h3 {
      padding-bottom: $global-padding/2;
      display: block;
    }
    .filter-toggle, .reset-all {
      background: $white;
      border-radius: 0;
      width: 80vw;
      margin: 0 0 $global-margin 0 !important;
      z-index: 30;
      > span, > label {
        text-align: left;
        width: 80%;
      }
      &[aria-expanded=true] {
        z-index: 40;
      }
      &[aria-expanded=true], &.filled, &.filled[aria-expanded=true] {
        > span, > label {
          opacity: 0;
        }
      }
      .select {
        position: relative;
        &::before {
          height: rem-calc(36);
          top: rem-calc(-55);
          left: rem-calc(10);
          right: rem-calc(30);
          bottom: 0;
          width: 80%;
          z-index: 0;
        }
        ul {
          z-index: 10;
          margin-top: 0;
          top: rem-calc(-15) !important;
          left: 0 !important;
          width: 100%;
        }
      }
    }
    .close {
      position: absolute;
      top: rem-calc(5);
      left: 0;
      padding: $global-padding;
    }
    &.open {
      max-height: 100vh;
      overflow: visible;
      padding: $global-padding 10vw;
      margin-bottom: $global-margin;
      .close {
        opacity: 1;
      }
    }
  }
}

.more {
  //@include anim;
  transition: all 0.4s linear;
  position: relative;
  display: inline;
  font-weight: $global-weight-bold;
  padding-left: rem-calc(60);
  text-transform: uppercase;
  font-size: rem-calc(10);
  line-height: 1.3;
  letter-spacing: rem-calc(1);
  cursor: pointer;
  color: $body-font-color;
  &::before, &::after {
    @include pseudoBasics;
    @include vertical-center;
    //top: 0;
    position: absolute;
    transition: all 0.4s linear; //$layout-bezier;
    width: rem-calc(50);
    height: rem-calc(4);
    background: get-color(primary);
    display: inline-block;
  }
  &::before {
    //transition-delay: 0.2s;
    margin-right: rem-calc(10);
    left: 0;
  }
  &::after {
    width: 0;
    right: 0;
    margin-left: rem-calc(10);
    transform: translate3d(100%, -50%, 0);
  }
  &.alt {
    color: $white;
    &::after {
      background: $white;
    }
    &:hover {
      color: $white;
    }
  }
  @at-root a:hover .more,
  &:hover {
    color: $body-font-color;
    padding-left: 0;
    padding-right: rem-calc(60);
    &::before {;
      width: 0;
      margin-right: 0;
      transform: translate3d(-100%, -50%, 0);
    }
    &::after {
      width: rem-calc(50);
      transform: translate3d(0, -50%, 0);
    }
  }
}
.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .tabs-title {
    flex: 0 0 50%;
    width: 50%;
    @include breakpoint(medium){
      flex: 0 0 33.33%;
      width: 33.33%;
    }
    @include breakpoint(large){
      flex: 0 0 100%/6*1;
      width: 100%/6*1;
    }
    text-align: center;
    a {
      @include anim;
      outline: none;
      font-size: rem-calc(18);
      line-height: rem-calc(22);
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
      font-weight: $global-weight-bold;
      display: inline-block;
      @include dash;
    }
    &:not(.is-active) a::after {
      width: 0;
    }
  }
}
.tabs-panel {
  @include breakpoint(medium down){
    padding: 0;
    .cell:not(.card):first-child {
      padding-top: $global-padding;
    }
  }
  transition: opacity 0.35s ease, transform 0.7s ease;
  display: block !important;
  padding: 0;
  &:not(.is-active){
    max-height: 0;
    min-height: unset !important;
    opacity: 0;
    overflow: hidden;
    transform: translate3d(0, rem-calc(30), 0);
  }
  &.is-active {
    opacity: 1;
    max-height: 4000vh;
    height: auto !important;
    min-height: auto !important;
  }
  .tabs-content {
    .bloc_img {
      padding-top: 75%;
    }
    @include headings() {
      &:first-child {
        padding-top: $global-margin*2;
      }
    }
  }
}
.dash {
  @include dash;
}
.card {
  overflow: visible;
  .card-section {
    background: $white;
    &.alt {
      background: $beige;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint(medium down){
      padding: $global-margin;
    }
  }
}
.script {
  font-family: 'Belluga', $body-font-family;
  font-weight: normal;
  display: block;
}
.cursor-fixed {
  width: rem-calc(100);
  height: rem-calc(100);
  position: relative !important;
  cursor: pointer;
  span {
    display: block;
    @include absolute-center;
    text-align: center;
    width: 100%;
    letter-spacing: rem-calc(2);
    color: $black !important;
    font-size: rem-calc(12);
    line-height: rem-calc(15);
    font-weight: bold;
    text-transform: uppercase;
  }
  svg {
    @include absolute-center;
    overflow: visible;
    .border {
      stroke-dasharray: rem-calc(314);
      stroke-dashoffset: rem-calc(-314);
      @include anim();
      transition-duration: 0.8s;
    }
    > g {
      @at-root body.iphone-browser & {
        transform: translate(0,0);
      }
    }
  }
  &:hover {
    .border {
      stroke-dashoffset: 0;
    }
  }
  @at-root .ie-browser & {
    transform-origin: 0 0;
    svg {
      top: 150%;
    }
  }
  @at-root .safari-browser & {
    transform-origin: 0 0;
    svg {
      top: 150%;
    }
  }
}
.quote {
  position: relative;
  font-size: rem-calc(32);
  line-height: rem-calc(44);
  &::before {
    @include pseudoBasics;
    right: 100%;
    width: 25%;
    padding-top: 25%;
    margin-top: -12.5%;
    background: url(../images/quote_testomonies.svg) no-repeat top left;
    background-size: 90%;
  }
  @include breakpoint(medium down){
    margin-top: 20%;
    &::before {
      width: 20%;
      padding-top: 20%;
    }
  }
}
#push, #push-marketplace, .push {
  background: $light-gray url('../images/big_cacao.svg') no-repeat;
  background-size: rem-calc(977 715);
  background-position: 75% rem-calc(-30);
  margin: $global-margin*4 0;
  @include breakpoint(medium down){
    margin: 0 0 $global-margin*2;
    .button {
      @include breakpoint(small only){
        width: 100%;
      }
      margin-right: auto;
      margin-left: auto;
    }
  }
  .cell {
    padding-top: $global-margin*4;
    padding-bottom: $global-margin*4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .button {
      margin-top: $global-margin;
      min-width: rem-calc(230);
    }
  }
  main > &:last-child {
    margin-bottom: 0;
  }
}
.embed_embed_push {
  background: $light-gray url('../images/big_cacao.svg') no-repeat;
  background-size: rem-calc(977 715);
  background-position: 75% rem-calc(-30);
  text-align: center;
  margin-top: rem-calc(100) !important;
  margin-bottom: rem-calc(100) !important;
  word-break: break-word;

  .card, .card-section {
    background: transparent;
  }
  .card {
    margin: 0;
  }
  .card-section {
    max-width: rem-calc(980);
    margin: 0 auto;
    padding: rem-calc(110 50);

    @include breakpoint(medium down) {
      max-width: rem-calc(720);
      padding: rem-calc(70 30);
    }
  }
}
#result-container {
  position: relative;
  transition: all 0.45s ease-in-out, opacity 0.225s ease-in;
  .spinner {
    @include horizontal-center;
    top: rem-calc(-100);
    margin: rem-calc(100) auto 0;
    width: rem-calc(50);
    height: rem-calc(40);
    text-align: center;
    font-size: rem-calc(10);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    > div {
      background-color: get-color(secondary);
      opacity: 0.3;
      height: 100%;
      width: rem-calc(4);
      display: inline-block;
      -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
      -webkit-transform: scaleY(0.4)
    }
    20% {
      -webkit-transform: scaleY(1.0);
      opacity: 1;
    }
  }
  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
      opacity: 1;
    }
  }

  &.loading {
    padding-top: rem-calc(240);
    & > *:not(.spinner) {
      opacity: 0.3;
      pointer-events: none;
    }
    .spinner {
      opacity: 1;
      top: 0;
    }
  }
}
#undertaking, .undertaking, #other-services {
  .live-long {
    margin-bottom: $global-margin*2;
    @include breakpoint(large){
      max-width: none;
      position: relative;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }
  }
  a.cell.bloc_img {
    padding: 3%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    .more {
      align-self: center;
    }
    @include breakpoint(medium only){
      min-height: 50vh;
    }
    @include breakpoint(large){
      &:nth-child(even){
        transform: translate3d(0, $global-margin*2, 0);
      }
    }
  }
  > .grid-container:last-child {
    padding: $global-margin*2 0 0;
    @include breakpoint(large){
      padding: $global-margin*4 0;
    }
  }
  @include breakpoint(medium down){
    padding-bottom: 0;
  }
}
.list_products, .product-list {
  margin: $global-margin 0;
  @include breakpoint(large){
    margin: $global-margin*2 0;
    &.large-up-2 {
      .embed_product {
        max-width: calc(50%);
      }
      .embed_product:nth-child(even) {
        transform: translate3d(0, $global-margin*2, 0);
      }
    }
    &.large-up-3 {
      @include breakpoint(large){
        .embed_product {
          .card-section {
            padding-top: $global-padding;
            padding-bottom: $global-padding;
            .dash {
              padding-bottom: $global-padding/2;
            }
          }
        }
      }
    }
    &:not(:last-child){            margin-bottom: 0;        }
    &:not(:first-child){            margin-top: 0;        }
  }
}
.no-results {
  padding: $global-padding*4 $global-padding;
  color: $medium-gray;
  text-align: center;
  font-size: rem-calc(30);
  width: 100%;
}
.next-page-container {
  width: 100%;
  padding: rem-calc(30);
  position: relative;
  .spinner {
    position: relative;
    margin-top: rem-calc(20);
  }
}
.embed_session {
  @include anim();
  border: 1px solid #DEDEDE;
  flex-grow: 0;
  transition-duration: 0.6s;

  &.expired {
    position: relative;
    pointer-events: none;

    &::after {
      content: attr(data-expired);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($white, 0.85);
      z-index: 10;
      font-size: rem-calc(28);
      font-weight: bold;
      letter-spacing: 0;
      line-height: rem-calc(34);
      text-align: center;
      @include flex;
      align-items: center;
      justify-content: center;
      padding: rem-calc(50 75);
    }
  }

  &:hover {
    box-shadow: $prototype-box-shadow;
    color: $black;
  }

  .chef_name, .chef_position {
    margin: rem-calc(0 0 5);
    line-height: 1.4;
  }

  &__section {
    position: relative;
  }
  &__date-wrap {
    @include horizontal-center;
    top: -22px;
    width: 100%;
    @include flex;
    align-items: center;
    justify-content: center;
    padding: rem-calc(0 30);
  }
  &__date {
    display: block;
    background-color: $black;
    font-size: rem-calc(10);
    font-weight: bold;
    padding: rem-calc(15);
    letter-spacing: rem-calc(1);
    line-height: rem-calc(13);
    color: $white;
    text-transform: uppercase;
  }
  &__specs {
    margin: rem-calc(15 0 30);
    line-height: rem-calc(15);
    font-weight: bold;
  }
  &__duration {
    display: block;
    margin: rem-calc(0 0 7);
  }
  &__price {
    display: block;
  }
  &__circlev {
    @include flex;
    justify-content: center;
    align-items: center;
    color: get-color(secondary);
    margin: rem-calc(7 0 0);

    &::before {
      content: "";
      background: url('../images/logo_cercle_v_hor.svg') no-repeat center;
      background-size: rem-calc(77 18);
      margin: rem-calc(0 10 0 0);
      width: rem-calc(77);
      height: rem-calc(18);
      display: inline-block;
    }
  }
  &__discount {
    color: rgba($black, 0.42);
    text-decoration: line-through;
    margin: rem-calc(0 10 0 0);
  }

  // US version
  &.embed_session_us {
    .embed_session__section {
      padding-bottom: rem-calc(15);
    }
    .embed_session__specs {
      margin-bottom: rem-calc(15);
    }
    p {
      padding-bottom: rem-calc(5);
      margin: 0;
      font-size: rem-calc(12);
      line-height: rem-calc(15);
    }

    .stacked {
      display: inline-block;
      padding-right: 0.5em;
      & + .stacked {
        padding-right: 0;
      }
    }

    .chef_instagram {
      color: $body-font-color;
      display: block;
      padding-bottom: rem-calc(5);
    }

    .date {
      text-transform: uppercase;
      color: get-color(primary);
      font-weight: bold;
      padding-bottom: rem-calc(5);
    }

    .embed_session__price {
      display: block;
      font-weight: bold;
      padding-bottom: rem-calc(5);
      font-size: rem-calc(12);
    }

    .embed_session__circlev {
      &::before {
        @include pseudoBasics;
        position: static;
        display: inline-block;
        background: url("../images/logo_cercle_v_hor.svg") no-repeat center;
        background-size: contain;
        width: rem-calc(77);
        height: rem-calc(20);
        margin-right: 0.5em;
        vertical-align: middle;
      }

      font-size: rem-calc(12);
      padding-bottom: rem-calc(5);
      font-weight: bold;
      color: get-color(secondary);
    }

    .embed_session__circlev__note {
      max-width: rem-calc(210);
      margin: rem-calc(5) auto;
      color: get-color(secondary);
      font-size: rem-calc(10);
      line-height: rem-calc(11);
      font-weight: normal;
    }
  }

  @include breakpoint(medium down) {
    max-width: rem-calc(300);

    &.expired {
      &::after {
        padding: rem-calc(50);
      }
    }
    &__section {
      padding: rem-calc(50 25) !important;
    }
  }
}
.dual-block {

  /*    h1, h2 {
          @include fetchHeadings(h3);
      }*/

  &__inner {
    align-items: flex-start;
    background-color: $white;

    @include breakpoint(large down) {
      justify-content: center;
    }
  }

  &__logo-wrap {
    /*        padding-top: rem-calc(60);
            padding-bottom: rem-calc(80);*/
    position: relative;
    z-index: 2;
    text-align: center;

    @include corner(left, top, vertical);

    &::after {
      @include pseudoBasics;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $white;
      z-index: 2;
    }
  }

  &__logo {
    position: relative;
    z-index: 3;
  }

  &__content {
    margin-top: rem-calc(102);
    padding: rem-calc(50);
    background-color: $beige;
  }

  &__desc {
    margin-left: rem-calc(24);
  }

  /*    .dash {
          padding-bottom: rem-calc(20);
          &::after {
              transform: none;
              left: rem-calc(24);
          }
      }*/

  P:last-child {
    margin-bottom: 0;
  }


  @include breakpoint(medium down) {
    &__logo-wrap {
      text-align: left;
      padding: rem-calc(14 20 10);
    }

    &__logo {
      max-width: rem-calc(220);
      margin-left: rem-calc(20);
    }

    &__content {
      margin-top: rem-calc(40);
      padding: rem-calc(25);
    }

    &__desc {
      margin-left: 0;
    }
  }
}
.reveal {
  @include breakpoint(medium down){
    min-width: 0;
    max-width: 95vw;
    max-height: 95vh;
    top: 2.5vw !important;
    bottom: 2.5vw !important;
    left: 2.5vw !important;
    right: 2.5vw !important;
    overflow: scroll;
    padding: $global-padding !important;
    margin: 0 !important;
    span[data-close]{
      z-index: 999;
      top: rem-calc(5);
      right: rem-calc(5);
    }
  }
  &[id^='embed_embed_slider_image_'] {
    text-align: center;
    img {
      max-height: 70vh;
      @include breakpoint(medium down){
        @include absolute-center;
        max-width: 70vw;
        object-fit: contain;
      }
    }
  }
  &#marketplace-modal {
    background: $light-gray url('../images/big_cacao.svg') no-repeat;
    background-size: auto 150%;
    background-position: center;
    width: rem-calc(800);
    border-radius: rem-calc(15);
    padding: $global-margin*1.5;
    .close-button {
      top: $global-margin;
      right: $global-margin;
      span {
        display: block;
        width: $global-margin;
        height: $global-margin;
        line-height: $global-margin;
      }
    }
    h3 {
      color: get-color(secondary);
    }
    p {
      font-size: rem-calc(12);
      a {
        text-decoration: none;
        font-weight: bold;
        color: get-color(secondary);
      }
    }
    @include breakpoint(medium down){
      min-height: 0 !important;
      height: auto;
      > div {
        padding: 5vh 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
.top_link {
  margin-top: rem-calc(-110);
  height: 0;
  display: block;
  margin-bottom:0;
  .cursor-fixed {
    span svg {
      transform: translate3d(-50%, -50%, 0) rotate(-90deg) !important;
    }
  }
}
main form {
  .custom-radio, .custom-checkbox {
    position: relative;
    label {
      padding-left: rem-calc(30);
      position: relative;
      &::before {
        @include anim();
        @include pseudoBasics;
        @include vertical-center;
        left: 0;
        width: rem-calc(12);
        height: rem-calc(12);
        box-shadow: rem-calc(0 0 0 1) $black, rem-calc(0 0 0 3) $beige inset;
      }
    }
    &.custom-radio label::before {
      border-radius: 100%;
      width: rem-calc(13);
      height: rem-calc(13);
    }
    input {
      visibility: hidden;
      position: absolute;
      &:checked ~ label {
        &::before {
          background: $black;
        }
      }
    }
  }
  .custom-file-input {
    position: relative;
    margin-bottom: $global-margin;
    input[type=file]{
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      margin: 0 !important;
      &:required + span.button {
        span::after {
          content: ' *';
        }
      }
      &.is-invalid-input + span.button {
        $invalid-color: darken(get-color(primary), 10%);
        color: $invalid-color;
        border-color: $invalid-color;
        &::after {
          background-color: $invalid-color;
        }
        &:hover {
          color: $white;
        }
      }
    }
    span {
      position: relative;
      min-width: 100%;
      max-width: 100%;
      margin: 0;
      z-index: 5;
    }
  }
  label.small-over, .mc-field-group label {
    background-color: $beige;
    color: $dark-gray;
    padding: rem-calc(0 5);
    font-size: rem-calc(10);
    line-height: rem-calc(13);
    margin-left: rem-calc(10);
    position: relative;
    z-index: 10;
    pointer-events: none;
    & + input, & + textarea, & + select {
      transform: translate3d(0, rem-calc(-13), 0);
    }
  }
  input, textarea, select, .custom-checkbox, .custom-radio {
    @include breakpoint(large){
      margin-bottom: $global-margin*2;
    }
  }
  input:not([type=file]), textarea, select {
    &:not([type=checkbox]), &:not([type=radio]) {
      background-color: transparent;
      border-radius: rem-calc(3);
      border: rem-calc(1) solid get-color(secondary);
      padding: rem-calc(10 20);
      color: $black;
      font-size: rem-calc(12);
      line-height: rem-calc(15);
      box-shadow: none;
      height: auto;
    }
  }
  select {
    background-image: url(../images/chevron.svg);
    background-position: 100% 50% !important;
    &:focus {
      background-image: url(../images/chevron-up.svg);
    }
  }
}
.zindex-over {
  position: relative;
  z-index: 5;
}
.zindex-under {
  position: relative;
  z-index: 4;
}
// Section type "gammes"
#ranges {
  text-align: center;
  .range {
    p {
      color: get-color(secondary) !important;
      font-size: rem-calc(12);
    }
  }
  @include breakpoint(medium down){
    padding-top: $global-padding*2;
    padding-bottom: 0;
    .range {
      margin: 0;
      width: 100%;
      position: relative;
      text-align: center;
      overflow: hidden;
      padding: $global-padding*3 $global-padding;
      background: $black;
      @include headings {
        font-size: rem-calc(34);
        width: 140%;
        left: -20%;
        position: relative;
      }
      img.bg_range {
        @include absolute-center;
        width: 100%;
        opacity: 0.6;
        z-index: 0;
      }
      a, > div {
        position: relative;
        display: block;
        z-index: 10;
        max-width: 70%;
        margin: 0 auto;
        &, .more {
          color: $white;
        }
      }
    }
  }
  @include breakpoint(large){
    background: $black;
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
    .dash {
      color: $white;
      &::after {
        background: $white;
      }
    }
    .cell {
      position: relative;
      z-index: 20;
    }
    .list_ranges {
      padding: $global-margin*3 0;
      .grid-x {
        min-height: rem-calc(300);
      }
      &, div {
        position: static;
        z-index: 15;
      }
      .range {
        min-height: 200px;
        flex-direction: column;
        display: flex;
        a, > div {
          position: relative;
          z-index: 20;
          display: block;
          h3 {
            word-break: break-word;
          }
          &, .more {
            color: rgba($white, 0.6) !important;
            &:not(.more)::after {
              background: $white !important;
            }
          }
          .content {
            @include anim();
            //transition: max-height 0.8s ease-in-out;
            //max-height: 0;
            > * {
              @include anim();
              transition-delay: 0.25s;
              opacity: 0;
              transform: translate3d(0, rem-calc(10), 0);
            }
            .more {
              transition-timing-function: linear;
            }
          }
        }
        img.bg_range {
          @include anim();
          @include absolute-center;
          pointer-events: none;
          z-index: 0;
          width: 100%;
          opacity: 0;
        }
        &.active {
          z-index: 14;
          a, > div {
            &, .more {
              color: $white !important;
            }
            .content {
              //max-height: rem-calc(570);
              > * {
                opacity: 1;
                transform: none;
              }
            }
          }
          img.bg_range {
            opacity: 0.4;
          }
        }
      }
    }
  }
}

// Embed container
main > .embed-container:last-child {
  &, > div:not(.embed_embed_content):last-child {
    margin-bottom: 0 !important;
  }
}

// Espace entre les blocs embed
main > .embed-container {
  padding-top: $global-margin*2;
  padding-bottom: $global-margin*2;
  @include breakpoint(medium down){
    padding-top: $global-margin;
    padding-bottom: $global-margin;
  }
}
[class^="embed_embed_"] {
  padding-top: $global-margin*2;
  padding-bottom: $global-margin*2;
  @include breakpoint(medium down){
    padding-top: $global-margin;
    padding-bottom: $global-margin;
  }
  &:first-child {
    padding-top: 0;
  }
  &:last-child { padding-bottom: 0; }
}

// Type content - Hors tabs
div:not(.tabs-panel) {
  // Styles communs aux blocs custom et aux blocs administrables
  .bloc_custom_1, .bloc_custom_2, > .embed_embed_content, .embed.theme {
    .card {
      position: relative;
      z-index: 10;
    }
    .below {
      position: relative;
      z-index: 5;
    }
    @include breakpoint(large){
      .card {
        display: block;
        background: transparent;
        .card-section {
          background: $white;
          padding: $global-padding*2;
        }
      }
    }
    @include breakpoint(medium down) {
      .vertical-h-wrapper {
        order: 1;
      }
      .below {
        order: 2;
        margin-bottom: -22%;
      }
      .card {
        order: 3;
        .card-section {
          padding: $global-padding*2 $global-padding;
          h2, h3 {
            font-size: rem-calc(map-deep-get($header-styles, medium, 'h4', 'font-size'));
          }
        }
      }
    }
  }
  .bloc_custom_1, .bloc_custom_2 /*, > .embed_embed_content, .embed.theme*/ {
    position: relative;
    @include breakpoint(large) {
      .vertical-h-wrapper {
        z-index: 0;
        > * {
          width: 90vh;
          max-width: rem-calc(560);
          @include breakpoint(large only){
            width: 100vh;
          }
        }
      }
      .below {
        position: absolute;
        z-index: 0;
        max-height: 100%;
        overflow: hidden;
      }
      .cell.card:first-child:last-child {
        @include xy-cell(8);
        margin: 0 auto;
        .card-section {
          padding: 0;
        }
      }
    }
  }

  > .embed_embed_content.image-at-right:not(.red-bar), .embed.theme.image-at-right:not(.red-bar) {
    @include breakpoint(large){
      .below {
        align-self: flex-end;
        order: 2;
        margin-top: $global-margin*4;
        left: calc(100% / 12 * -2);
      }
      .card {
        order: 1;
        margin-bottom: $global-margin*4;
      }
    }
  }
  > .embed_embed_content.image-at-left:not(.red-bar), .embed.theme.image-at-left:not(.red-bar) {
    @include breakpoint(large){
      .below {
        order: 1;
        left: calc(100% / 12 * 2);
        margin-bottom: 0;
        margin-top: 0;
      }
      .card {
        order: 2;
        margin-top: $global-margin*4;
        margin-bottom: 0;
      }
      // Ecart visuel entre deux cartes = trop de blanc
      & + .embed_embed_content.image-at-right:not(.red-bar), & + .embed.theme.image-at-right:not(.red-bar) {                padding-top: 0;            }
    }
  }

  // Red Bar Square Version
  > .embed_embed_content.red-bar {
    @include breakpoint(large){
      margin: 0 auto;
      .below {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
      }
      .card {
        margin-top: 0;
        margin-bottom: 0;
        .card-section {
          padding-top: $global-padding*4;
          padding-bottom: $global-padding*4;
        }
      }
      &.image-at-left {
        .below {
          order: 1;
          margin-left: calc(100%/12);
        }
        .card {
          order: 2;
          margin-left: calc(-100%/12);
          @include corner(right, top, vertical);
        }
      }
      &.image-at-right {
        .below {
          margin-left: calc(-100%/12);
        }
        .card {

          margin-left: calc(100%/12);
          @include corner(left, top, vertical);
        }
      }
    }
    @include breakpoint(medium down){
      .below {
        order: 1;
      }
      .card {
        order: 2;
        @include corner(right, top, vertical);
      }
    }
  }

  // Seulement du texte : réduire l'espace avant/après
  > .embed_embed_content > .grid-x > .cell.card:first-child:last-child {
    margin-bottom: 0;
    .card-section {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

// Type content -  A l'intérieur des tabs
.tabs-panel > [class^="embed_embed_"] {
  margin: 0 auto;
  padding-top: $global-margin;
  padding-bottom: $global-margin;
  @include breakpoint(large) {
    .bloc_img {
      padding-top: 100%/576*376;
    }
    &.image-at-left > .grid-x {
      > .card {
        @include xy-cell(5);
        order: 2;
      }
      > .below {
        @include xy-cell(6);
        order: 1;
      }
    }
    &.image-at-right > .grid-x {
      > .card {
        order: 1;
      }
      > .below {
        order: 2;
      }
    }

    &.red-bar {
      &.image-at-left > .grid-x .below {        @include corner(left, top, vertical);    }
      &.image-at-right > .grid-x .below {        @include corner(right, top, vertical);    }
    }
  }
  @include breakpoint(medium down) {
    padding-top: 0;
    padding-bottom: 0;
    .below {
      order: 1;
      z-index: 0;
      margin-bottom: -22%;
    }
    .card {
      order: 2;
      z-index: 1;
    }
    &.red-bar {
      &.image-at-left .card {        @include corner(left, top, vertical);    }
      &.image-at-right .card {        @include corner(right, top, vertical);    }
    }
  }
}
.floating_logo {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate3d(50%, 50%, 0);
  @include breakpoint(medium down){
    width: 25%;
    bottom: 8%;
    right: 8%;
    z-index: 20;
  }
  @include breakpoint(large){
    right: 8%;
    &.image-at-left {
      right: 50%;
    }
  }
}

// Type Galerie
.embed_embed_gallery {
  .slider-wrap {
    position: relative;
  }

  .slider-inner {
    margin: rem-calc(20 0);
  }

  .slider-content {
    padding: rem-calc(0 25);

    .cursor-fixed {
      width: rem-calc(75);
      height: rem-calc(75);

      span {
        font-size: rem-calc(10);
      }
      > svg {
        width: rem-calc(77);
        height: rem-calc(77);
      }
    }
  }

  @include breakpoint(large) {
    .slick-dots {
      display: none !important;
    }
  }

  .slick-arrow {
    @include vertical-center;

    &.slick-disabled {
      opacity: 0.5;
      cursor: default !important;
      pointer-events: none;
    }

    &.previous {
      left: -100px;

      @include breakpoint(large only) {
        left: -70px;
      }

      .cursor-fixed .arrow-right {
        transform-origin: center !important;
        transform: rotate(180deg) !important;
      }
    }
    &.next {
      right: -100px;

      @include breakpoint(large only) {
        right: -70px;
      }
    }

    .cursor-fixed {
      position: relative !important;
      width: rem-calc(75);
      height: rem-calc(75);

      > svg {
        width: rem-calc(77);
        height: rem-calc(77);
      }
    }
  }

  @include breakpoint(medium down) {


    .slider-inner {
      padding: rem-calc(0 0 50);
      max-width: rem-calc(375);
      margin: rem-calc(20) auto;
    }
    .slick-arrow {
      display: none !important;
    }
    .slick-dots {
      z-index: 22;
      bottom: auto;
      top: calc(100% - 40px);

      li {
        width: rem-calc(28);
        height: rem-calc(4);
        margin: rem-calc(8);
        background: $medium-gray;

        &.slick-active {
          background: $black;
        }
        button::before {
          display: none;
        }
      }
    }

  }

  .title {
    padding: rem-calc(10);
  }
}


// WYSIWYG Styles
.color-primary {        color: get-color(primary);           }
.color-secondary {        color: get-color(secondary);    }
.color-gray {        color: $medium-gray;    }
.site_page_content_wrapper {
  padding-bottom: $global-padding*2;
}
.rte, .ezrichtext-field {
  a:not(.more):not(.button) {
    color: get-color(secondary);
    text-decoration: underline;
    font-weight: bold;
  }
  > :last-child {
    margin-bottom: 0;
  }
  figure {
    margin-bottom: $global-margin;
  }
  .clearfix {
    clear: both;
  }
  .ez-embed-type-image {
    max-width: 100%;
    &.align-center {
      margin: $global-margin 0;
      text-align: center;
    }
    &.align-left {
      float: left;
      margin: 0 $global-margin $global-margin 0;
    }
    &.align-right {
      float: right;
      margin: 0 0 $global-margin $global-margin;
    }
    &:last-child {
      margin-bottom: 0 !important;
    }
    @include breakpoint(medium down){
      figure {
        margin-bottom: 0;
      }
      &.align-center {
        margin: rem-calc(10) 0;
      }
      &.align-left {
        margin: 0 rem-calc(10) rem-calc(10) 0;
      }
      &.align-right {
        margin: 0 0 rem-calc(10) rem-calc(10);
      }
    }
  }
  blockquote {
    @extend .quote;
    border: none;
    padding-left: $global-margin*2.5;
    p {
      color: $body-font-color;
      line-height: 1.15;
      font-size: rem-calc(22);
    }
    &::before {
      padding: 0;
      margin: 0;
      width: $global-margin*2;
      height: $global-margin*2;
      right: auto;
      left: 0;
      top: 0;
    }
  }
  .dash {
    text-align: center;
  }
  .ezstyle-more {
    margin-bottom: $global-margin;
  }
  video {
    margin-bottom: $global-margin*2;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  .ezstyle-button:last-child .button {
    margin-bottom: 0;
  }
}
.full_bloc {
  padding-bottom: rem-calc(30);
}
.ezstyle-more {
  @include breakpoint(medium down){
    display: flex;
  }
}
.free-script {
  #mc-embedded-subscribe-form {
    font-size: rem-calc(16);
    .mc-field-group label {
      background: $white;
      font-weight: bold;
      height: rem-calc(16);
      display: inline-block !important;
    }
    input[type=email] {
      background: transparent;
      border: rem-calc(1) solid get-color(secondary);
      padding: rem-calc(10 20);
      font-size: rem-calc(12);
      line-height: rem-calc(15);
      font-weight: bold;
      text-indent: 0;
      transform: translate3d(0, rem-calc(-13), 0);
      margin-bottom: rem-calc(8);
      &.mce_inline_error {
        border: rem-calc(1) solid get-color(secondary) !important;
      }
    }
    div[for=mce-EMAIL].mce_inline_error {
      padding: 0;
      margin: 0;
      font-style: $helptext-font-style;
      font-size: $helptext-font-size;
      color: $helptext-color;
    }
    .clear:last-child {
      text-align: center;
      input[type=submit] {
        @extend .button;
        height: auto !important;
        margin: $global-margin auto;
        &:hover {
          background: $black;
        }
      }
    }
    #mce-responses {
      padding: 0;
      margin: 0;
      width: 100%;
      display: block;
      .response {
        width: 100%;
        top: 0;
        z-index: auto;
        float: none;
        padding: 0;
        margin: 0 0 $global-margin;
        font-size: rem-calc(12);
        font-weight: normal;
        a {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

// Temporarily here
.error_page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
  overflow: visible;
  .grid-x {
    height: auto;
    min-height: 100vh;
    padding-top: 15vh;
  }
  .cell {
    padding-bottom: rem-calc(30);
    .invisible {
      display: none;
    }
    .white.button {
      color: $body-font-color !important;
      padding: rem-calc(15);
      min-width: rem-calc(200);
      &:hover {
        color: $white !important;
      }
    }
  }
  /*
      &.no_status_code {
          .error_page__content {
              padding-top: 0;
              transform: none !important;
          }
          &, & .grid-x {
              height: auto;
          }
      }

      @include breakpoint(medium down) {
          .button {
              display: inline-flex;
          }
      }*/

}
#actualites {
  overflow: hidden;
  @include breakpoint(medium down){
    padding-top: $global-padding*2;
    padding-bottom: $global-padding;
    .vertical-h-wrapper > * {
      margin-bottom: $global-padding*2;
    }
  }
}
.list_actus {
  padding-bottom: $global-padding;
  .cell:first-child .corner {
    @include corner(left, top, horizontal);
  }
  .cell:last-child .corner {
    @include corner(right, top, vertical);
  }
  @include breakpoint(large){
    padding-bottom: $global-padding*4;
    .cell:nth-child(even){
      transform: translate3d(0, $global-padding*4, 0);
    }
  }
  a:hover {
    color: $body-font-color;
  }
}

// Anims
#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $white;
  pointer-events: none;
  z-index: 999;
}
.cursor {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  border: 0 solid $secondary-color;
  background: $secondary-color;
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  @include flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__inner {
    display: block;
    letter-spacing: rem-calc(2);
    color: $black !important;
    font-size: rem-calc(9);
    line-height: rem-calc(15);
    font-weight: bold;
    text-transform: uppercase;
  }

  &__svg {
    @include absolute-center;

    svg {
      @include absolute-center;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }

  @media (hover: none) {
    display: none;
  }
}

// Search modal
#search-modal {
  background: rgba(#E4DBCE, 0.9);
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  [data-close] {
    cursor: pointer;
  }
  .grid-x {
    margin-top: 25vh;
    .search_wrapper {
      position: relative;
      transition: all 0.45s ease-in-out, opacity 0.225s ease-in;

      .spinner {
        @include horizontal-center;
        top: rem-calc(-100);
        margin: rem-calc(100) auto 0;
        width: rem-calc(50);
        height: rem-calc(40);
        text-align: center;
        font-size: rem-calc(10);
        transition: all 0.3s ease-in-out;
        opacity: 0;

        > div {
          background-color: get-color(secondary);
          opacity: 0.3;
          height: 100%;
          width: rem-calc(4);
          display: inline-block;
          -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
          animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }

        .rect2 {
          -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
        }

        .rect3 {
          -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
        }

        .rect4 {
          -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
        }

        .rect5 {
          -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
        }
      }

      @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% {
          -webkit-transform: scaleY(0.4)
        }
        20% {
          -webkit-transform: scaleY(1.0);
          opacity: 1;
        }
      }
      @keyframes sk-stretchdelay {
        0%, 40%, 100% {
          transform: scaleY(0.4);
          -webkit-transform: scaleY(0.4);
        }
        20% {
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
          opacity: 1;
        }
      }

      &.loading {
        padding-top: rem-calc(240);

        & > *:not(.spinner) {
          opacity: 0;
          pointer-events: none;
        }

        .spinner {
          opacity: 1;
          top: 0;
        }
      }
    }
  }
  button {
    width: rem-calc(45);
    height: rem-calc(45);
  }
}
.search_wrapper form {
  .position-relative {
    position: relative;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    width: rem-calc(37);
    height: rem-calc(37);
    z-index: 10;
    cursor: pointer;
  }
  input {
    padding: rem-calc(10 60 10 20);
    font-size: rem-calc(12);
    line-height: rem-calc(15);
    color: $dark-gray;
    font-weight: bold;
    border-color: $medium-gray;
    &:placeholder-shown {
      font-weight: normal;
    }
  }
}

// secondary menus in satellite V sites
#second-nav {
  ul {
    padding: $global-margin*2 0 $global-margin;
    margin: 0;
  }
  li {
    margin-left: 0;
    a {
      display: block;
      text-transform: uppercase;
      color: $body-font-color;
      font-weight: $global-weight-bold;
      padding: $global-margin;
    }
    &.current {
      @include dash;
      padding-bottom: 0;
      &::after {
        background-color: get-color(secondary);
      }
    }
  }
}