@import 'settings';
@import 'mixins_is';
@import '~foundation-sites/scss/foundation';
body {
  > header {
    &.fixed {
      position: fixed;
    }
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    @include anim();
    > * {
      position: relative;
      z-index: 5;
    }
    #event-banner {
      background: $black;
      padding: rem-calc(15);
      text-align: center;
      overflow: hidden;
      max-height: rem-calc(150);
      transition: all 0.3s ease 0s;
      @at-root header.compact &,
      &.hidden-up {
        max-height: 0;
        padding: 0;
        overflow: hidden;
        a {
          opacity: 0;
        }
      }
      svg {
        @include anim;
        path {
          fill: $white;
        }
      }
      a {
        @include anim();
        color: $white;
        font-size: rem-calc(14);
      }
      @include breakpoint(medium down){
        .close {
          display: block;
          text-align: center;
          left: -50%;
          position: relative;
          svg {
            width: rem-calc(11);
            height: rem-calc(11);
            path {
              fill: $white;
            }
            g path {
              fill: $black;
            }
          }
        }
        a {
          line-height: rem-calc(23);
          overflow: hidden;
          text-overflow: ellipsis;
          display: block !important;
          white-space: nowrap;
          margin-right: rem-calc(50);
          max-width: unset !important;
          width: auto !important;
          svg {
            @include vertical-center;
            right: rem-calc(25);
          }
          &:hover svg {
            right: rem-calc(15);
          }
        }
      }
      @include breakpoint(large){
        padding: rem-calc(9) 0;
        a {
          line-height: rem-calc(18);
          display: inline-block;
          margin-left: rem-calc(20);
          position: relative;
          svg {
            margin-left: rem-calc(15)
          }
          &:hover {
            svg {
              transform: translate3d(rem-calc(5), 0, 0);
            }
          }
        }
      }
    }
    > .grid-container {
      @include anim();
      @include breakpoint(large){
        .grid-x:first-child {
          @include xy-cell-gutters();
        }
      }
      @include breakpoint(medium down){
        &:last-child{
          padding: rem-calc(12 15);
          .grid-x {
            //@include flex-align(spaced, middle);
          }
          .grid-x .cell {
            z-index: 600;
            &:not(:first-child) {
              z-index: 700;
            }
          }
        }
      }
      &:not(:last-child){
        z-index: 100;
      }
    }
    #menuToggle {
      display: inline-block;
      height: rem-calc(20);
      margin-right: rem-calc(20);
      svg {
        overflow: visible;
        polygon {
          fill: $white;
          @include anim;
          transform-origin: bottom left;
          &:first-child {
            transform-origin: top left;
          }
        }
      }
    }
    .cross {
      polygon {
        fill: $black;
        transform: rotate(-45deg);
        &:first-child {
          transform: rotate(45deg);
        }
      }
    }

    #logo {
      height: rem-calc(84);
      transition: all 0.3s ease 0s;
      display: block;
      text-align: center;
      overflow: visible;
      position: relative;

      &:after {
        content: '';
        transition: all 0.3s ease 0s;
        @include horizontal-center;
        bottom: 0;
        width: 73px;
        height: 5px;
        background: #C80000;
        display: block;
      }
      svg {
        overflow: visible;
        #logo-sigle {
          transform-origin: rem-calc(55.43/2) 0;
        }
        #logo-line {
          transition: all 0.3s ease 0s;
          -moz-transform-origin: 17px 2px;
          -ms-transform-origin: 17px 2px;
          -o-transform-origin: 17px 2px;
          -webkit-transform-origin: 17px 2px;
          transform-origin: 17px 2px;
          //transition-delay: 0s !important;
        }
        .logo-letter {
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              transition: all 0.4s ease #{$i*0.02}s;
            }
          }
        }
      }
      /*
      @include breakpoint(medium down){
        position: relative;
        overflow: hidden;
        top: rem-calc(-5);
        left: rem-calc(10);
        height: rem-calc(55) !important;
        display: block;
        margin: rem-calc(0 -12);
        svg {
          @include absolute-center;
          transform: translate(-50%, -33%);
          #logo-sigle {
            transform-origin: center;
            transform: scale(0.85);
          }
          #logo-titre {
            display: none;
          }
          #logo-line {
            transform: translate(-17px, -40px);
            width: 37px;
            height: 4px;
          }
        }
        &:after {
          transform: translate3d(-50%, -10px, 0);
          width: 38px;
          height: 4px;
        }
      }
      */
    }
    [id^=header-link] {
      display: inline-block;
      padding: rem-calc(7 10);
      font-size: rem-calc(12);
      a, button {
        cursor: pointer;
        line-height: rem-calc(14);
        color: $white;
        svg {
          display: inline-block;
          vertical-align: sub;
          pointer-events: none;
          path {
            fill: $white
          }
        }
        padding: rem-calc(7.5 20);
        border: 1px solid $white;
        border-radius: rem-calc(20);
      }
      @include breakpoint(medium down){
        padding: 0;
        a, button {
          display: inline-block;
          border: none !important;
          padding: 0 !important;
          margin: 0 rem-calc(6.25);
        }
        svg {
          height: rem-calc(20);
          width: rem-calc(20);
        }
      }
    }

    .header-login {
      $self: &;
      position: relative;
      &:hover {
        .header-login--dropdown {
          display: block;
        }
      }
      &--dropdown {
        display: none;
        position: absolute;
        padding-top: 14px;
        text-align: left;
        min-width: 140px;
        left: 50%;
        transform: translateX(-50%);
        @include breakpoint(medium down){
          right: -8px;
          left: unset;
          transform: none;
        }
        &::before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          border-right: solid 11px transparent;
          border-left: solid 11px transparent;
          border-bottom: solid 11px black;
          left: 0;
          right: 0;
          top: 3px;
          margin: auto;
          @include breakpoint(medium down){
            right: 13px;
            left: unset;
          }
        }
        &--container {
          background-color: #000;
          margin: 0;
          padding: 8px;
          list-style: none;
        }
      }
      &--items {
        color: #fff;
        &:hover {
          a {
            text-decoration: underline;
          }
        }
        a {
          padding: 0;
          color: #fff !important;
          &.header-login--items--logout {
            &:before {
              content: "";
              background-image: url("https://www.valrhona.com/assets/build/images/close_modal.0819f6e6.svg");
              background-size: contain;
              display: inline-block;
              width: 9px;
              height: 9px;
              filter: brightness(0) invert(1);
              margin-right: 5px;
            }
          }
        }
      }
    }

    nav {
      position: relative;
      #main-menu {
        position: static;
        align-items: baseline;
        height: 100%;
        > li {
          position: static;
          display: block;
          height: 100%;
          > a, > button {
            &.hundred_years {
              padding: rem-calc(5);
              margin-top: rem-calc(-15);
              img {
                max-width: rem-calc(113);
                width: 100%;
              }
            }
            @include anim();
            font-size: rem-calc(12);
            line-height: rem-calc(15);
            padding: rem-calc(5 20 25);
            text-transform: uppercase;
            color: $white;
            font-weight: bold;
            @include breakpoint(large){
              &.current {
                position: relative;
                &::after {
                  @include pseudoBasics;
                  @include horizontal-center;
                  bottom: rem-calc(-1);
                  width: rem-calc(50);
                  height: rem-calc(2);
                  background: get-color(secondary);
                }
              }
            }
            @include breakpoint(large only){
              padding: rem-calc(5 16 25);
            }
          }
          &.has-open-sub-menu {
            > a, > a:hover, &.has-open-sub-menu > a, > button, > button:hover, &.has-open-sub-menu > button {
              color: get-color(secondary);
            }
            .sub-menu-wrapper {
              opacity: 1;
              transform: none;
              pointer-events: auto;
              visibility: visible;
              > .cell {
                transform: none;
                opacity: 1;
                transition-delay: 0.25s;
                &:last-child {
                  transition-delay: 0.5s;
                }
              }
              &::before {
                right: 0;
              }
            }
          }
          @include breakpoint(large){
            &:not(:hover) .sub-menu-wrapper {
              transition-delay: 0.3s;
              &::after {
                display: none;
              }
            }
          }

          &.icon-link {
            padding-bottom: 20px;

            a {
              position: relative;
              width: rem-calc(55);
              padding: 0 !important;
              margin-right: 20px;
              img {
                transition: opacity 0.3s ease;
                width: 100%;

                &.svg-white {
                  opacity: 1;
                }
                &.svg-black {
                  opacity: 0;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
          }
        }
        @include breakpoint(medium down){
          z-index: 500;
          @include anim();
          position: fixed;
          padding: $mobile-menu-padding;
          top: $header-height-mobile;
          background: $white;
          right: 0;
          left: 0;
          bottom: 0;
          overflow: scroll;
          transform: translate3d(-100vw, 0, 0);
          justify-content: flex-start;
          text-align: left;
          &.open {
            transform: none;
            z-index: 5;
          }
          > li {
            justify-content: left;
            &:not(:hover), &:not(.has-open-sub-menu) {
              .sub-menu-wrapper {
                transform: translate3d(100vw, 0, 0);
              }
            }
            > a, > button {
              color: $black !important;
              display: block;
              width: 100%;
              font-size: rem-calc(16);
              line-height: rem-calc(19);
              padding: $global-padding 0;
              position: relative;
              letter-spacing: rem-calc(0.89);
              &:not([href])::after {
                @include pseudoBasics;
                @include vertical-center;
                right: 0;
                background-image: url('../images/chevron-menu.svg');
                width: rem-calc(10);
                height: rem-calc(18);
              }
            }
          }
        }
        @include breakpoint(large up) {
          flex-wrap: nowrap;
        }
      }
      .sub-menu-wrapper {
        @include anim();
        opacity: 0;
        pointer-events: none;
        background: $white;
        visibility:hidden;
        .sub-category {
          font-weight: bold;
          letter-spacing: rem-calc(2);
          margin-bottom: 0;//rem-calc(12.5);
          text-transform: uppercase;
          color: get-color(secondary);
          line-height: 1.5;
          padding: 0.3rem 1rem 0.3rem 0;
          &:not([href]){
            cursor: default;
          }
        }
        ul.grid-x > li {
          flex-direction: column;
        }
        ul.sub-menu.align-left {
          margin-left: 0;
          li {
            justify-content: left;
            // Script effect
            a {
              overflow: hidden;
              display: block;
              width: 100%;
              position: relative;
              color: $body-font-color;
              font-size: rem-calc(14);
              line-height: rem-calc(24);
              padding: 0;
              font-weight: bold;
              div {
                display: inline-block;
                padding: rem-calc(5 30 5 0);
                transition: margin-right 0.3s linear;
                &:first-child::before {
                  display: inline-block;
                  content: '';
                  height: rem-calc(4);
                  position: relative;
                  top: rem-calc(-4);
                  width: 0;
                  background: get-color(secondary);
                  @include anim;
                  transition-delay: 0.3s;
                }
                &:not(:first-child){
                  margin-top: rem-calc(-10);
                }
              }
              &:hover {
                div {
                  &:first-child::before {
                    width: rem-calc(30);
                    margin-right: rem-calc(10);
                  }
                }
              }
            }
          }
        }
        a.push {
          text-align: center;
          font-weight: bold;
          font-size: rem-calc(14);
          line-height: rem-calc(24);
          margin: 0;
          @include breakpoint(large){
            margin-top: rem-calc(25);
            padding: 70% 0 0 0;
            img {
              @include anim();
              opacity: 0.66;
              z-index: 5;
            }
            .cursor-fixed {
              z-index: 15;
            }
            .sub-category {
              @include absolute-center;
              z-index: 10;
              max-width: 75%;
            }
            &:hover {
              box-shadow: $prototype-box-shadow;
            }
          }
          @include breakpoint(medium down){
            padding: 0;
            background: transparent;
            display: flex;
            flex-direction: column;
            img {
              position: relative;
              transform: none;
              left: 0;
              top: 0;
              order: 2;
              opacity: 1;
            }
            .sub-category {
              position: relative;
              order: 1;
              color: get-color(secondary);
              text-align: left;
              padding: $global-padding 0 $global-padding/2;
              font-size: rem-calc(12);
              letter-spacing: rem-calc(2);
            }
            &:hover img {
              box-shadow: $prototype-box-shadow;
            }
          }

        }
        @include breakpoint(large){
          position: absolute;
          transform-origin: top;
          top: 100%;
          left: 0;
          right: 0;
          padding: rem-calc(0 0 25);
          @include breakpoint(large only){
            padding: rem-calc(0 25 25);
          }
          &::after {
            /*                    @include anim();
                                @include pseudoBasics;
                                background: rgba($black, 0.5);
                                z-index: -1;
                                top: 1px;
                                left: 50%;
                                width: 100vw;
                                height: 100vh;
                                transform: translate3d(-50%, 0, 0);
                                pointer-events: none;*/
          }
          > .cell {
            @include anim();
            opacity: 0;
            transform: translate3d(0, rem-calc(-25), 0);
          }
          li.cell {
            padding-top: rem-calc(25);
          }
          &::before {
            @include pseudoBasics;
            display: block;
            top: 0;
            left: 0;
            right: 100%;
            transition: all 0.8s $layout-bezier;
            height: rem-calc(4);
            background: get-color(secondary);
          }
        }
        @include breakpoint(medium down){
          position: fixed;
          z-index: 10;
          right: 0;
          left: 0;
          bottom: 0;
          overflow: scroll;
          padding: $mobile-menu-padding;
          padding-top: rem-calc(50);
          top: $header-height-mobile;
          height: auto !important;
          &::before {
            @include pseudoBasics;
            position: fixed;
            top: $header-height-mobile;
            z-index: 15;
            left: 0;
            right: 0;
            height: rem-calc(45);
            @include gradient($white, rgba($white, 0), top);
          }
          .cell {
            flex-direction: column;
            li {
              justify-content: left;
              &.cell:not(:first-child){
                margin-top: rem-calc(50);
              }
            }
          }
          ul {
            margin: 0;
          }
          .sub-menu {
            li a {
              text-transform: none;
              font-weight: bold;
              color: $black;
              div {
                padding-right: 0 !important;
                display: inline-block !important;
              }
            }
          }
        }
      }
      #back-menu {
        @include breakpoint(medium down){
          @include anim();
          position: fixed;
          top: $header-height-mobile;
          left: 10vw;
          z-index: 99;
          background: url('../images/chevron-menu.svg') no-repeat right;
          background-size: rem-calc(10 18);
          width: rem-calc(25);
          height: rem-calc(35);
          transform: translate3d(100vw, 0, 0) scale(-1, 1);
          opacity: 0;
          &.active {
            transform: scale(-1, 1);
            opacity: 1;
          }
        }
      }
      @include breakpoint(large){
        &::after {
          @include anim();
          @include pseudoBasics;
          z-index: -1;
          top: 100%;
          left: 50%;
          width: 102vw;
          height: 100vh;
          transform: translate3d(-50%, 0, 0);
          pointer-events: none;
        }
        &:hover::after {
          background: rgba($black, 0.5);
        }
      }
    }
    @at-root body.menu-open &,
    &.compact, &:hover, &.opaque, &.open-sub-menu {
      background: $white;
      #logo-titre,
      #menuToggle *,
      #localizationToggle path {
        fill: $black;
      }
      nav #main-menu > li > a, nav #main-menu > li > button {
        color: $black;
      }
      #localization-selector span,
      [id^=header-link] a, [id^=header-link] button {
        color: $body-font-color;
        border-color: $body-font-color;
        svg path { fill: $body-font-color }
      }
    }
    &.compact {
      #logo {
        height: rem-calc(50);

        &:after {
          transition: all 0.3s ease 0s !important;
          transform: translate3d(-50%, -4px, 0);
          width: 37px;
          height: 4px;
        }
      }
      .logo-letter {
        //transform: translate3d(0, rem-calc(-20), 0);
        //opacity: 0;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            //transition: opacity 0.2s ease 0s, transform 0s ease 0.2s !important;
          }
        }
      }
      @include breakpoint(large){
        svg #logo-line {
          transition: all 0.3s ease 0s !important;
          transform: translate(-17px, -40px);
          width: 37px;
          height: 4px;
          //transition-delay: 0.15s !important;
        }
        header > .grid-container {
          margin-top: rem-calc(5);
        }
      }
    }
    &.opaque {
      @include breakpoint(large){
        border-bottom: rem-calc(1) solid $medium-gray;
      }
      & + main {
        margin-top: rem-calc(222);
        &.no-events {
          margin-top: rem-calc(222-42);
        }
        @include breakpoint(medium down){
          margin-top: $header-height-mobile;
        }
        .banner .grid-x {
          padding-top: 0;
        }
      }
    }
    &:not(:hover){
      transition: background-color 0.3s 0.3s ease-in-out;
    }
    &:hover, &.compact, &.opaque {
      .icon-link {
        a img {
          &.svg-white {
            opacity: 0 !important;
          }
          &.svg-black {
            opacity: 1 !important;
          }
        }
      }
    }
    .newMenu24 {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include breakpoint(medium down){
        align-items: stretch;
        gap: rem-calc(20);
      }

      span[aria-hidden="true"] {
        display: block;
      }

      &__menuToggle {
        display: none;
        order: 1;

        @include breakpoint(medium down){
          align-items: center;
          display: flex;
          width: 8.33333%;
        }
      }

      &__logo {
        align-items: start;
        display: flex;
        flex-shrink: 0;
        order: 2;

        #logo {
          height: auto;

          span[aria-hidden='true'] {
            overflow:hidden;
          }

          svg {
            height: auto;
            width: rem-calc(95);
          }

          &:after {
            bottom: 4px;
            height: 2px;
            width: 34px;

            @include breakpoint(medium down){
              height: 4px;
            }
          }

          svg {
            @include breakpoint(medium down){
              transform: scale(210%) translateY(10px);
            }
          }
        }

        #logo-titre {
          @include breakpoint(medium down){
            display: none;
          }
        }
      }

      &__nav {
        flex-grow: 1;
        order: 3;

        @include breakpoint(medium down){
          flex-grow: 0;
          flex-shrink: 1;
          order: 5;
        }

        #main-menu {
          align-items: end;
          justify-content: space-between;
          padding: 0 rem-calc(35);
          gap: rem-calc(20);

          @include breakpoint(medium down){
            align-items: stretch;
            gap: 0;
            justify-content: normal;
            padding: $mobile-menu-padding;
          }

          & > li {
            align-items: center;
            display: flex;
            height: rem-calc(100);

            & > a, & > button {
              cursor: pointer;
              margin-top: 0;
              padding: 0 rem-calc(8);
              text-align: center;

              @include breakpoint(medium down){
                align-items: center;
                display: flex;
                justify-content: start;
                margin-top: 0;
                text-align: left;
              }

            }

            & > button {
              align-items: center;
              display: flex;
              height: 100%;

              @include breakpoint(medium down) {
                align-items: center;
              }
            }
          }
        }
      }

      &__userMenu {
        align-items: start;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: end;
        order: 4;

        @include breakpoint(medium down){
          align-items: center;
          display: flex;
          flex-grow: 1;
        }

        [id^=header-link] {
          display: block;
          padding: 0;

          & > a, & > button {
            align-items: center;
            border-radius: 50%;
            display: flex;
            height: 32px;
            justify-content: center;
            margin: rem-calc(0 5);
            padding: 0;
            width: 32px;
          }
          @include breakpoint(medium down){
            padding: 0;

            a, button {
              display: inline-flex;
              border: none !important;
              padding: 0 !important;
              margin: 0 rem-calc(6.25);
            }
            svg {
              height: rem-calc(20);
              width: rem-calc(20);
            }
          }
        }
      }
    }
  }
  > footer {
    flex-shrink: 1;
    background: $black;
    padding: $global-padding*4 0 $global-padding;
    @include breakpoint(medium down){
      padding: $global-padding;
      > .grid-container > .grid-x > .cell {
        &:nth-child(1) { order: 1 }
        &:nth-child(2) { order: 2 }
        &:nth-child(3) { order: 4 }
        &:nth-child(4) { order: 3 }
        &:nth-child(5) { order: 5 }
        &:nth-child(6) { order: 6 }
      }
      .cell > .hide-for-large[data-toggle] {
        padding-bottom: rem-calc(40);
        position: relative;
        top: rem-calc(-5);
        span {
          padding: 0 0.5em;
        }
        span[data-toggle="country-dropdown"] svg {
          vertical-align: sub;
          overflow: visible !important;
          position: relative;
          path {
            fill: $white;
          }
        }
      }
    }
    @include breakpoint(large){
      > .grid-container > .grid-x > .cell:nth-child(2) > * {
        padding-left: $global-margin;
      }
    }
    * {
      color: $white;
      @include breakpoint(medium down){
        text-align: center;
      }
    }
    #logo-footer {
      display: block;
      padding: 0;
      margin-bottom: $global-margin*2;
    }
    .cell > p, .links > p {
      font-weight: bold;
      letter-spacing: rem-calc(1);
      text-transform: uppercase;
      font-size: rem-calc(12);
      line-height: rem-calc(15);
    }
    ul.menu {
      margin: 0;
      li {
        margin: rem-calc(0 0 10);
        a {
          padding: rem-calc(5 0);
          font-size: rem-calc(12);
          line-height: 1.4;
          color: $medium-gray;
          &:hover, &:active {
            color: $white;
          }
          svg path {
            fill: $white;
          }
        }
        &.highlighted {
          a {
            font-weight: bold;
            color: rgba(get-color(secondary), 0.8);
            &:hover {
              color: get-color(secondary);
            }
          }
        }
      }
      &.expanded {
        margin-bottom: $global-margin;
      }
      &.tiny {
        margin-top: $global-margin;
        padding: $global-padding 0 0;
        a {
          padding: 0;
          font-size: rem-calc(10);
          color: $dark-gray;
        }
        @include breakpoint(medium down){
          li {
            margin: rem-calc(0 0 5);
            &:not(:last-child){
              a::after {
                display: inline-block;
                width: rem-calc(12);
                text-align: center;
                content: '-';
              }
            }
          }
        }
      }
      @include breakpoint(medium down){
        margin-bottom: $global-margin*2;
        &.tiny {
          margin-bottom: 0;
        }
        &.expanded {
          margin-bottom: $global-margin;
        }
      }
    }
    .bcorp {
      display: block;
      max-width: rem-calc(217);
      margin: 0 auto;
      @include breakpoint(large){
        margin: 0;
      }
    }

    #localization-selector {
      position: relative;
      display: inline-block;
      > span {
        &, * {
          @include anim();
        }
        padding: rem-calc(7.5 0 15 0);
        margin-right: rem-calc(20);
        display: inline-block;
        cursor: default;
        color: $white;
        font-size: rem-calc(12);
        line-height: rem-calc(15);
        svg {
          overflow: visible;
          margin-right: rem-calc(10);
          display: inline-block;
          vertical-align: middle;
        }
        path {
          fill: white;
        }
      }
      .dropdown-pane {
        padding: $global-padding $global-padding rem-calc($global-padding - rem-calc(10));
        border: none;
        box-shadow: $prototype-box-shadow;
        &::before {
          @include css-triangle($tooltip-pip-width, $white, down);
          position: absolute;
          bottom: -$tooltip-pip-width;
        }
        > p {
          font-size: rem-calc(10);
          color: $dark-gray;
        }
        .grid-x * {
          font-size: rem-calc(10);
          line-height: rem-calc(13);
          p {
            color: $black;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: rem-calc(1);
            margin-bottom: rem-calc(15);
          }
          ul {
            margin-bottom: 0;
            & + p {
              margin-top: $global-margin;
            }
            li {
              margin-bottom: rem-calc(10);
              padding-right: rem-calc(20);
              a {
                color: $black;
                &:hover {
                  color: get-color(primary);
                }
              }
            }
          }
          ul.grid-x {
            margin: 0;
          }
        }
      }
      #country-dropdown {
        min-width: rem-calc(430);
      }
      @include breakpoint(large){
        span[data-toggle=country-dropdown] svg {
          margin-right: rem-calc(10);
        }
        span[data-toggle=language-dropdown] svg {
          margin-left: rem-calc(10);
        }
      }
      @include breakpoint(medium down){
        position: fixed;
        text-align: left;
        * {
          text-align: left;
          color: $body-font-color;
        }
        z-index: 500;
        @include anim();
        transform: translate3d(-100vw, 0, 0);
        padding: $mobile-menu-padding;
        top: $header-height-mobile;
        left: 0;
        right: 0;
        bottom: 0;
        background: $white;
        overflow: scroll;
        > img[data-toggle] {
          position: absolute;
          right: $global-margin;
          top: $global-margin;
        }
        > *:last-child {
          margin-bottom: $global-margin*2 !important;
        }
        &.open {
          transform: none;
        }
        span[data-toggle=country-dropdown],
        span[data-toggle=language-dropdown] {
          font-weight: bold;
          text-align: left;
          span {
            color: $black;
            text-align: left;
          }
          svg path {
            fill: $black !important;
          }
        }
        span[data-toggle=language-dropdown] {
          width: 100%;
          text-align: left;
          border-top: rem-calc(1) solid $medium-gray;
          margin-top: $global-margin;
          padding-top: $global-padding;
          margin-right: 0;
          svg {
            display: none;
          }
        }
        .dropdown-pane {
          border: none;
          box-shadow: none;
          padding: 0;
          position: static !important;
          display: block !important;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          max-width: 100%;
          min-width: 0 !important;
          opacity: 1;
          visibility: visible;
          margin: 0;
          text-align: left;
          ul.grid-x {
            justify-content: left;
          }
          &::before {
            display: none;
          }
        }
        > .grid-container {
          padding: rem-calc(12 15);
          .grid-x {
            @include flex-align(spaced, middle);
          }
          .grid-x .cell {
            z-index: 600;
            &:not(:first-child) {
              z-index: 700;
            }
          }
        }
      }
    }
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}