@import '../settings';
@import '../mixins_is';
@import '~foundation-sites/scss/foundation';

#recette_intro {
  margin-top: $global-margin;

  .bloc_img {
    border: 1px solid #E4DBCE;
  }
  .corner {
    @include corner(right, bottom, horizontal);
  }
  & + :not(#summary) {
    margin-top: $global-margin*4;
  }
}